<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>Ekko</title>
	<link rel='stylesheet' type='text/css' href="../static/css/index.css">
	<script type="text/javascript" src="../static/js/showPic.js"></script>
</head>
<body >
<h1>测试</h1>
<ul id="imagegallery">
	<li><a href="../static/images/sunset.jpg" title="日落之时">日落之时</a></li>
	<li><a href="../static/images/castle.jpg" title="城堡">城堡</a></li>
	<li><a href="../static/images/diandongche.jpg" title="电动车">电动车</a></li>
</ul>
<p id="description">选择一个图片标题以显示对应图片</p>
<img id="placeholder" src="../static/images/timg.jpg" alt="选择一个图片标题以显示对应图片">	
<hr>
<a href="https://github.com/kekedi/helloworld"  title="to my git" target="_blank">My git</a><br>
<em>现在时间:{{now}}</em>
</body>
</html>